{% load static %}
{% if all_reviews %}
        {% for rr, range in all_reviews %}
        {% for r in rr %}
        <div class="contain_list">
          <span class="list11">
            <a href="/static/{{r.image}}" data-lightbox="rdash_r_r{{r.id}}">
              <img src="/static/{{r.image}}" class="contain_img2">
            </a>
          </span>
          <span class="list21">
            <span class="sublist1">
              <i class="fas fa-user"></i>{{r.user_name}}
            </span>
            <span class="sublist2">
              {{r.review}}
            </span>
            <span class="sublist3">
              {% for r_cal, ids in review_rates %}
              {% if r.id == ids %}
              <div class="rate_details">
                <input type="hidden" id="rate1{{r.id}}" value="{{r_cal}}">
                <span class="rate_stars" id="rate_stars{{r.id}}">
                  <i class="fas fa-star" id="star_avg1{{r.id}}"></i>
                  <i class="fas fa-star-half-alt star_avg1half" id="star_avg1half{{r.id}}"></i>
                  <i class="fas fa-star" id="star_avg2{{r.id}}"></i>
                  <i class="fas fa-star-half-alt star_avg1half" id="star_avg2half{{r.id}}"></i>
                  <i class="fas fa-star" id="star_avg3{{r.id}}"></i>
                  <i class="fas fa-star-half-alt star_avg1half" id="star_avg3half{{r.id}}"></i>
                  <i class="fas fa-star" id="star_avg4{{r.id}}"></i>
                  <i class="fas fa-star-half-alt star_avg1half" id="star_avg4half{{r.id}}"></i>
                  <i class="fas fa-star" id="star_avg5{{r.id}}"></i>
                </span>
              </div>
              {% endif %}
              {% endfor %}
            </span>
            <span class="sublist3">
              {{r.posted_date}}
            </span>
          </span>
        </div>
        {% endfor %}
        {% endfor %}
        {% else %}
        <div class="re_not_found">
          No reviews avaiable from last 1 month
        </div>
        {% endif %}
        <script src="{% static '/js/dashboard/review_dash.js' %}"></script>