{% extends 'base.html' %}

{% block title%}
  <title>Log In - Rent Station</title>
{% endblock %}
{% block css %}
<style>
    .header{
      background: #fff;
      box-shadow:0 5px 6px 0 #ddd;
    }
    .menus ul a{
      color:#000 !important;
    }
    #text2 a{
      color:#000;
    }
  </style>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xl-12">
    <div class="login-form-banner">
      <div class="container my-4">
        <div class="col col-xl-4 col-lg-3 col-md-2 d-none d-md-inline"></div>
        <div class="col col-xl-4 col-lg-6 col-md-8 col-sm-12 col-12">
          <div class="login-form">

            <form class="" action="" method="post" id="login-user-form">
              <h4>Log In</h4>
              <hr>
              <div class="error-message">
                {% for message in messages %}
                <h5>{{message}}</h5>
                {% endfor %}
              </div>
              {% csrf_token %}
                <label for="email" class="label"><span>Email Address</span></label>
                <input type="email" class="form-control" id="email" name='email' placeholder="Email"> <br>
              <label for="password" class="label"><span>Password</span></label>
                <input type="password" class="form-control" id="password" name='password' placeholder="Password"><br>
                <input name="next" type="hidden" value="{{ pathnext }}" id="">
              <button type="submit" name="login" id="login-user-btn">Log In</button>
            </form>
            <a href="{% url 'reset_password' %}">Forget Password?</a><br>
            <span>Dont have an account?  <a href="/shop/account/register/">Create Here</a></span>
          </div>
        </div>
        <div class="col col-xl-4 col-lg-3 col-md-2 d-none d-md-inline"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}
