<div class="sub_manage1">
                            <div class="manage_head1">
                                <h6>MY ACCOUNT</h6>
                            </div>
                            <div class="manage_link1">
                                <a href="{% url 'manage_account_personal' %}"><button type="button" class="account_btn1" id="active_manage1">Manage Account</button></a>
                            </div>
                            <div class="manage_link1">
                                <a href="{% url 'my_order' %}"><button type="button" class="account_btn1" id="active_manage2">My Orders</button></a>
                            </div>
                            <div class="manage_link1">
                                <a href="{% url 'my_wishlist' %}"><button type="button" class="account_btn1" id="active_manage3">My Wishlist</button></a>
                            </div>
                            <div class="manage_link1">
                                <a href="{% url 'notifications' %}"><button type="button" class="account_btn1" id="active_manage4">Order Updates</button></a>
                            </div>
                            <div class="manage_link1">
                                <a href="{% url 'my_cancellations' %}"><button type="button" class="account_btn1" id="active_manage5">My Cancellations</button></a>
                            </div>
                        </div>