{% extends 'base.html' %}

{% block title%}
  <title>Reset New Password - Rent Station</title>
{% endblock %}

{% block css %}
<style>
    .header{
      background: #fff;
      box-shadow:0 5px 6px 0 #ddd;
    }
    .menus ul a{
      color:#000 !important;
    }
    #text2 a{
      color:#000;
    }
  </style>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xl-12">
    <div class="password-reset-banner">
      <div class="container my-4">
        <div class="col col-xl-4 col-lg-3 col-md-2 d-none d-md-inline"></div>
        <div class="col col-xl-4 col-lg-6 col-md-8 col-sm-12 col-12">
          <div class="reset-pwd-form">
            <h4>Set New Password</h4>
              <hr>
              <p>Enter your password twice</p>
              <form method="POST" action="" id="reset_pwd_user_form">
                  {% csrf_token %}
                  {% if validlink %}
                  {% for field in form %}
                  <label class="label_pwd"><span>{{field.label}}</span></label>
                  {{field}}
                  {% endfor %}
                  {% else %}
                  <p style="color:red; font-size:15px;">Invalid link</p>
                  {% endif %}
                  <ul>
                      <li><span style="color:red;">*</span> Password must be of atleast 10 character long</li>
                  </ul>
                  <button type="submit" name="submit" id="reset_pwd_btn">Submit</button>
              </form>
          </div>
        </div>
        <div class="col col-xl-4 col-lg-3 col-md-2 d-none d-md-inline"></div>
      </div>
    </div>
  </div>
</div>



{% endblock %}