{% extends 'base.html' %}

{% block title%}
  <title>Password Reset - Rent Station</title>
{% endblock %}

{% block css %}

<style>
  .reset_spinner{
    color:#008ECC;
    display:none;
    font-size: 13px;
    position:relative;
    top:13px;
  }
  .header{
      background: #fff;
      box-shadow:0 5px 6px 0 #ddd;
    }
    .menus ul a{
      color:#000 !important;
    }
    #text2 a{
      color:#000;
    }
</style>

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xl-12">
    <div class="password-reset-banner">
      <div class="container my-4">
        <div class="col col-xl-4 col-lg-3 col-md-2 d-none d-md-inline"></div>
        <div class="col col-xl-4 col-lg-6 col-md-8 col-sm-12 col-12">
          <div class="reset-email-form">
            <h4>Reset Password</h4>
              <hr>
            <p>Enter your email below and we’ll get you email instruction for setting a new password.</p>
            <form class="" action="" method="post" id="reset_email_user_form">
                {% csrf_token %}
                <label class="label"><span>Email Address</span></label>
                <input type="email" class="form-control" name="email"/><br>
                <button type="submit" name="send_email" id="reset_email_btn">Submit</button>
                <span class="reset_spinner">Processing...</span>
            </form>
          </div>
        </div>
        <div class="col col-xl-4 col-lg-3 col-md-2 d-none d-md-inline"></div>
      </div>
    </div>
  </div>
</div>




{% endblock %}

{% block js %}

<script>
  $('#reset_email_btn').click(function(){
    $('.reset_spinner').show();
  });
</script>

{% endblock %}