{% extends 'base.html' %}

{% block title%}
  <title>Verification - Rent Station</title>
{% endblock %}

{% block css %}
<style>
    .header{
      background: #fff;
      box-shadow:0 5px 6px 0 #ddd;
    }
    .menus ul a{
      color:#000 !important;
    }
    #text2 a{
      color:#000;
    }
  </style>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xl-12">
    <div class="password-reset-banner" style="text-align:center;">
      <div class="container my-4">
        <div class="col col-xl-3 col-lg-3 col-md-2 d-none d-md-inline"></div>
        <div class="col col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12">
            <div class="reset-email-form">
                <h4>Verification</h4>
                <hr>
                <p style="padding:0px 20px; font-size:14px;">We have sent you a verification email. Please verify your email to complete registration</p>
            </div>
        </div>
        <div class="col col-xl-3 col-lg-3 col-md-2 d-none d-md-inline"></div>
      </div>
    </div>
  </div>
</div>






{% endblock %}