<!doctype html>
<html lang="en">
<head>
	<title>Payment Redirecting</title>
	<style>
		body{
			background: rgba(0,0,0,.05);
			overflow: hidden;
		}
		.redirect{
			width: 100%;
			float: left;
			font-size: 25px;
			font-family: Verdana;
			color: #fa8005;
			text-align: center;
			padding: 200px 0px;
		}
	</style>
</head>
<body>
	<span class="redirect">
		Redirecting...
	</span>
	<form id="payment_congiguration" action="https://testsecureacceptance.cybersource.com/pay" method="POST" name="pay">
		{% csrf_token %}
		{% for key, value in data.items %}
			<input type="hidden" id="{{key}}" name="{{key}}" value="{{value}}">
		{% endfor %}
		<input type="hidden" id="signature" name="signature" value="{{sig}}"> 
	</form>

</body>
<script>
	document.pay.submit()
</script>
</html>