{% for questions, range in query_set %}
{% for q in questions %}
<span id="query-banner">
    <div>
        <div id="Q" style="color:#ff8000;">Q :</div><div id="query">{{q.question}}<div id="query_user">{{q.user_name}}</div></div><br>

    </div><br>
    <div class="answer_area">
        <div id="A" style="color:green;">A :</div><div><div class="answer">{{q.answer}}</div><br><div class="query_date">{{q.publish_date}}</div></div><br>

    </div>
    <hr style="margin:0px 0px 5px 0px;">

</span>
{% endfor %}
<span id="page_numbers">
{% if questions.has_other_pages %}
  <ul class="pagination">
    {% if questions.has_previous %}
      <li><a href="?page={{ questions.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="prev_disabled">&laquo;</li>
    {% endif %}
    {% for i in questions.paginator.page_range %}
      {% if questions.number == i %}
        <li class="">{{ i }}</li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if questions.has_next %}
      <li><a href="?page={{ questions.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="next_disabled">&raquo;</li>
    {% endif %}
  </ul>
{% endif %}
</span>
{% endfor %}
<script>
    $('.answer_area:has(.answer:empty)').remove();
</script>

