<select class="area_default">
                                            <option></option>
                                        </select>
                                        <select class="area1" name="area1">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Balkot Area">Balkot Area</option>
                                            <option value="Gathaghar Area">Gathaghar Area</option>
                                            <option value="Jagati Area">Jagati Area</option>
                                            <option value="Kamalbinayak Area">Kamalbinayak Area</option>
                                            <option value="Katunje Area">Katunje Area</option>
                                            <option value="Lohakanthali Area">Lohakanthali Area</option>
                                            <option value="Sallaghari Area">Sallaghari Area</option>
                                            <option value="Sano Thimi Area">Sano Thimi Area</option>
                                            <option value="Suyabinayak Area">Suyabinayak Area</option>
                                            <option value="Thimi Area">Thimi Area</option>
                                        </select>
                                        <select class="area2" name="area2">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Budhanagar">Budhanagar</option>
                                            <option value="New Baneshwor">New Baneshwor</option>
                                        </select>
                                        <select class="area3" name="area3">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Babarmahal">Babarmahal</option>
                                            <option value="Central Jail">Central Jail</option>
                                            <option value="Dasharath Stadium">Dasharath Stadium</option>
                                            <option value="Kalamochan Ghat">Kalamochan Ghat</option>
                                            <option value="Maitighar">Maitighar</option>
                                            <option value="Shahid Gate">Shahid Gate</option>
                                            <option value="Thapathali">Thapathali</option>
                                            <option value="Tripureshwor">Tripureshwor</option>
                                        </select>
                                        <select class="area4" name="area4">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Teku">Teku</option>
                                        </select>
                                        <select class="area5" name="area5">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Bafal">Bafal</option>
                                            <option value="Chhauni">Chhauni</option>
                                            <option value="Kalimati">Kalimati</option>
                                            <option value="Kharibot">Kharibot</option>
                                            <option value="Soltimode">Soltimode</option>
                                            <option value="Tahachal">Tahachal</option>
                                        </select>
                                        <select class="area6" name="area6">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Balkhu">Balkhu</option>
                                            <option value="Kalanki">Kalanki</option>
                                            <option value="Kuleshwor">Kuleshwor</option>
                                            <option value="Ravi Bhawan">Ravi Bhawan</option>
                                        </select>
                                        <select class="area7" name="area7">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Bahiti">Bahiti</option>
                                            <option value="Bijeshwori">Bijeshwori</option>
                                            <option value="Sobhabhagawati">Sobhabhagawati</option>
                                            <option value="Swayambhu">Swayambhu</option>
                                        </select>
                                        <select class="area8" name="area8">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Balaju">Balaju</option>
                                            <option value="Balaju Chwaki">Balaju Chwaki</option>
                                            <option value="Banasthali">Banasthali</option>
                                            <option value="Kaidhara">Kaidhara</option>
                                            <option value="Khusibu">Khusibu</option>
                                            <option value="Paknajol">Paknajol</option>
                                            <option value="People's Dental Campus Area">People's Dental Campus Area</option>
                                            <option value="Sorhakhutte">Sorhakhutte</option>
                                        </select>
                                        <select class="area9" name="area9">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Chhetrapati">Chhetrapati</option>
                                            <option value="Dhalko">Dhalko</option>
                                            <option value="Dhobichaur">Dhobichaur</option>
                                        </select>
                                        <select class="area10" name="area10">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Bhurungkhel">Bhurungkhel</option>
                                            <option value="Raktakali">Raktakali</option>
                                        </select>
                                        <select class="area11" name="area11">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Hanumandhoka">Hanumandhoka</option>
                                            <option value="Tamsipakha">Tamsipakha</option>
                                        </select>
                                        <select class="area12" name="area12">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Durbarmarg">Durbarmarg</option>
                                            <option value="Jamal">Jamal</option>
                                            <option value="Kantipath">Kantipath</option>
                                            <option value="Naxal">Naxal</option>
                                        </select>
                                        <select class="area13" name="area13">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Jaishidebal">Jaishidebal</option>
                                            <option value="Marutole">Marutole</option>
                                        </select>
                                        <select class="area14" name="area14">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Ikubahal">Ikubahal</option>
                                            <option value="Lagantole">Lagantole</option>
                                            <option value="Tebahal">Tebahal</option>
                                        </select>
                                        <select class="area15" name="area15">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Dharmapath">Dharmapath</option>
                                            <option value="Khichhapokhari">Khichhapokhari</option>
                                            <option value="Newroad">Newroad</option>
                                            <option value="Sundhara">Sundhara</option>
                                        </select>
                                        <select class="area16" name="area16">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Basantapur">Basantapur</option>
                                        </select>
                                        <select class="area17" name="area17">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Indrachowk">Indrachowk</option>
                                            <option value="Naradevi">Naradevi</option>
                                        </select>
                                        <select class="area18" name="area18">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Ason">Ason</option>
                                            <option value="Kilagal">Kilagal</option>
                                            <option value="Tengal">Tengal</option>
                                        </select>
                                        <select class="area19" name="area19">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Galkhopakha">Galkhopakha</option>
                                            <option value="Gongabu">Gongabu</option>
                                            <option value="Jyatha">Jyatha</option>
                                            <option value="Kapurdhara">Kapurdhara</option>
                                            <option value="Lainchaur">Lainchaur</option>
                                            <option value="Mehpi">Mehpi</option>
                                            <option value="Samakhushi">Samakhushi</option>
                                            <option value="Thamel">Thamel</option>
                                        </select>
                                        <select class="area20" name="area20">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Bhotahiti">Bhotahiti</option>
                                            <option value="Kamalaski">Kamalaski</option>
                                        </select>
                                        <select class="area21" name="area21">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Bagbazar">Bagbazar</option>
                                            <option value="Bhrikutimandap">Bhrikutimandap</option>
                                            <option value="Ratnapark">Ratnapark</option>
                                        </select>
                                        <select class="area22" name="area22">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Bir Hospital">Bir Hospital</option>
                                            <option value="Kamaladi">Kamaladi</option>
                                            <option value="Tundikhel">Tundikhel</option>
                                        </select>
                                        <select class="area23" name="area23">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Anamnagar">Anamnagar</option>
                                            <option value="Ghattekulo">Ghattekulo</option>
                                            <option value="Singha Durbar">Singha Durbar</option>
                                        </select>
                                        <select class="area24" name="area24">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Putalisadak">Putalisadak</option>
                                        </select>
                                        <select class="area25" name="area25">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Dhobichaur">Dhobichaur</option>
                                            <option value="Gairidhara">Gairidhara</option>
                                            <option value="Lazimpat">Lazimpat</option>
                                        </select>
                                        <select class="area26" name="area26">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Dillibazar">Dillibazar</option>
                                            <option value="Gyaneshwor">Gyaneshwor</option>
                                            <option value="Maitidevi">Maitidevi</option>
                                        </select>
                                        <select class="area27" name="area27">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Aloknagar">Aloknagar</option>
                                            <option value="Bhimsengola">Bhimsengola</option>
                                            <option value="Min Bhawan">Min Bhawan</option>
                                            <option value="Sankhamul">Sankhamul</option>
                                            <option value="Shantinagar">Shantinagar</option>
                                        </select>
                                        <select class="area28" name="area28">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Kandaghari">Kandaghari</option>
                                            <option value="Koteshwor">Koteshwor</option>
                                            <option value="Mahadevsthan">Mahadevsthan</option>
                                        </select>
                                        <select class="area29" name="area29">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Subidhanagar">Subidhanagar</option>
                                            <option value="Tinkune">Tinkune</option>
                                        </select>
                                        <select class="area30" name="area30">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Baluwatar">Baluwatar</option>
                                            <option value="Panipokhari">Panipokhari</option>
                                        </select>
                                        <select class="area31" name="area31">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Maharajgunj">Maharajgunj</option>
                                            <option value="Teaching Hospital">Teaching Hospital</option>
                                        </select>
                                        <select class="area32" name="area32">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Bishalnagar">Bishalnagar</option>
                                            <option value="Chandol">Chandol</option>
                                            <option value="Duhumarahi">Duhumarahi</option>
                                        </select>
                                        <select class="area33" name="area33">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Handigaun">Handigaun</option>
                                            <option value="Tangal">Tangal</option>
                                        </select>
                                        <select class="area34" name="area34">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Chabahil">Chabahil</option>
                                            <option value="Kumarigal">Kumarigal</option>
                                            <option value="Kumaristhan">Kumaristhan</option>
                                            <option value="Mitrapark">Mitrapark</option>
                                            <option value="Siphal">Siphal</option>
                                        </select>
                                        <select class="area35" name="area35">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Gaurighat">Gaurighat</option>
                                            <option value="Gaushala">Gaushala</option>
                                            <option value="Guhyeshwari">Guhyeshwari</option>
                                            <option value="Pashupatinath">Pashupatinath</option>
                                        </select>
                                        <select class="area36" name="area36">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Airport">Airport</option>
                                            <option value="Battisputali">Battisputali</option>
                                            <option value="Gaurigaun">Gaurigaun</option>
                                            <option value="Old Baneshwor">Old Baneshwor</option>
                                            <option value="Sinamangal">Sinamangal</option>
                                            <option value="Tilganga">Tilganga</option>
                                        </select>
                                        <select class="area37" name="area37">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Boudha Area">Boudha Area</option>
                                            <option value="Budhanilkantha Area">Budhanilkantha Area</option>
                                            <option value="Budhanilkantha - Chapali Area">Budhanilkantha - Chapali Area</option>
                                            <option value="Budhanilkantha - Golfutar Area">Budhanilkantha - Golfutar Area</option>
                                            <option value="Budhanilkantha - Kapan Area">Budhanilkantha - Kapan Area</option>
                                            <option value="Budhanilkantha - Mandikhatar Area">Budhanilkantha - Mandikhatar Area</option>
                                            <option value="Chandragiri - Kalanki Area">Chandragiri - Kalanki Area</option>
                                            <option value="Chandragiri - Nagdhunga">Chandragiri - Nagdhunga</option>
                                            <option value="Chandragiri - Satungal Area">Chandragiri - Satungal Area</option>
                                            <option value="Gokarneshwar - Arubari">Gokarneshwar - Arubari</option>
                                            <option value="Gokarneshwar - Attarkhel Area">Gokarneshwar - Attarkhel Area</option>
                                            <option value="Gokarneshwar - Jorpati Area">Gokarneshwar - Jorpati Area</option>
                                            <option value="Kirtipur - Buspark Area">Kirtipur - Buspark Area</option>
                                            <option value="Kirtipur - Nayabazar Area">Kirtipur - Nayabazar Area</option>
                                            <option value="Kirtipur - Panga Area">Kirtipur - Panga Area</option>
                                            <option value="Kirtipur - TU Area">Kirtipur - TU Area</option>
                                            <option value="Kirtipur - Tyanglaphat Area">Kirtipur - Tyanglaphat Area</option>
                                            <option value="Nagarjun - Sano Bharyang Area">Nagarjun - Sano Bharyang Area</option>
                                            <option value="Nagarjun - Sitapaila Area">Nagarjun - Sitapaila Area</option>
                                            <option value="Nagarjun - Solti Dobato Area">Nagarjun - Solti Dobato Area</option>
                                            <option value="Nagarjun - Thulo Bharyang Area">Nagarjun - Thulo Bharyang Area</option>
                                            <option value="Tarkeshwar - Manamaiju Area">Tarkeshwar - Manamaiju Area</option>
                                            <option value="Tarkeshwar - Nepaltar Area">Tarkeshwar - Nepaltar Area</option>
                                            <option value="Tarkeshwar - Purano Gueshwari Area">Tarkeshwar - Purano Gueshwari Area</option>
                                            <option value="Tokha - Dhapasi Area">Tokha - Dhapasi Area</option>
                                            <option value="Tokha - Gongabu Area">Tokha - Gongabu Area</option>
                                            <option value="Tokha - Grande Area">Tokha - Grande Area</option>
                                            <option value="Tokha - Tokha Area">Tokha - Tokha Area</option>
                                        </select>
                                        <select class="area38" name="area38">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Lalitpur - Nakhipot Area">Lalitpur - Nakhipot Area</option>
                                            <option value="Ward 10 - Chakupat Area">Ward 10 - Chakupat Area</option>
                                            <option value="Ward 11 - Banglamukhi Area">Ward 11 - Banglamukhi Area</option>
                                            <option value="Ward 12 - Thaina Area">Ward 12 - Thaina Area</option>
                                            <option value="Ward 13 - Kusunti Area">Ward 13 - Kusunti Area</option>
                                            <option value="Ward 14 - Lagankhel Area">Ward 14 - Lagankhel Area</option>
                                            <option value="Ward 15 - Satdobato Area">Ward 15 - Satdobato Area</option>
                                            <option value="Ward 16 - Mangalbazar Area">Ward 16 - Mangalbazar Area</option>
                                            <option value="Ward 17 - Gwarko Area">Ward 17 - Gwarko Area</option>
                                            <option value="Ward 19 - Machhindrabahal Area">Ward 19 - Machhindrabahal Area</option>
                                            <option value="Ward 1 - Kupandol Area">Ward 1 - Kupandol Area</option>
                                            <option value="Ward 20 - Patandhoka Area">Ward 20 - Patandhoka Area</option>
                                            <option value="Ward 2 - Jhamsikhel Area">Ward 2 - Jhamsikhel Area</option>
                                            <option value="Ward 2 - Sanepa Area">Ward 2 - Sanepa Area</option>
                                            <option value="Ward 2 - Teku Area">Ward 2 - Teku Area</option>
                                            <option value="Ward 3 - Pulchowk Area">Ward 3 - Pulchowk Area</option>
                                            <option value="Ward 4 - Jawalakhel Area">Ward 4 - Jawalakhel Area</option>
                                            <option value="Ward 5 - Kumaripati Area">Ward 5 - Kumaripati Area</option>
                                            <option value="Ward 5 - Patan Hospital Area">Ward 5 - Patan Hospital Area</option>
                                            <option value="Ward 6 - Kanibahal Area">Ward 6 - Kanibahal Area</option>
                                            <option value="Ward 7 - Sundhara Area">Ward 7 - Sundhara Area</option>
                                            <option value="Ward 8 - Guitole Area">Ward 8 - Guitole Area</option>
                                            <option value="Ward 8 - Balkumari Area">Ward 8 - Balkumari Area</option>
                                        </select>
                                        <select class="area39" name="area39">
                                            <option value="" disabled selected hidden id="area_default">Choose your area</option>
                                            <option value="Lalitpur - Bhaisepati Area">Lalitpur - Bhaisepati Area</option>
                                            <option value="Lalitpur - Bungamati Area">Lalitpur - Bungamati Area</option>
                                            <option value="Lalitpur - Dhapakhel Area">Lalitpur - Dhapakhel Area</option>
                                            <option value="Lalitpur - Harisiddhi Patan Area">Lalitpur - Harisiddhi Patan Area</option>
                                            <option value="Lalitpur - Imadole Area">Lalitpur - Imadole Area</option>
                                            <option value="Lalitpur - Khokana Karyabinayak Area">Lalitpur - Khokana Karyabinayak Area</option>
                                            <option value="Ward 15 - Nakhu Area">Lalitpur - Nakhu Area</option>
                                            <option value="Lalitpur - Sunakoti Area">Lalitpur - Sunakoti Area</option>
                                        </select>