{% load static %}

<!doctype html>
<html lang="en">
<head>
	<title>Main Dashboard Log In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/dashboard/logdashboard.css' %}">
    {% block css %}

    {% endblock %}
</head>
<body>

	<div class="row">
		<div class="col-md-12 d-none d-md-inline">
			<div class="panel_log_banner">
				<div class="container">
					<div class="col col-xl-4 col-lg-4 col-md-3 d-none d-md-inline">
						
					</div>
					<div class="col col-xl-4 col-lg-4 col-md-6">
						<div class="log_msg">
							{% for message in messages %}
								{{message}}
							{% endfor %}
						</div>
						<div class="panel_log">
							<div class="log_ban">
								<img src="{% static '/img/logo.png' %}" id="log_img">
							</div>
							<div class="log_ban">
								<span class="log_ban_text">
									Dashboard Login
								</span>
							</div>
							<hr style="width:100%; float:left;">
							<form method="Post" action="">
								{% csrf_token %}
								<div class="log_field">
									<label for="username" class="label"><span>Username</span></label>
                					<input type="username" class="form-control" id="username" name='username' placeholder="Username">
              
								</div>
								<div class="log_field">
									<label for="password" class="label"><span>Password</span></label>
                					<input type="password" class="form-control" id="password" name='password' placeholder="Password">
								</div>
								<div class="log_field">
									<button type="submit" name="submit" id="log_pan_btn">LOG IN</button>
								</div>
							</form>
						</div>
					</div>
					<div class="col col-xl-4 col-lg-4 col-md-3 d-none d-md-inline">
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script>
		var win_height = $(window).height();
		$('.panel_log_banner').height(win_height);
		$('#username').focus();
	</script>
</body>
</html>